/Backend/BackendCore.Common/bin
/Backend/BackendCore.Common/obj
/Backend/BackendCore.Api/bin
/Backend/BackendCore.Api/obj
/Backend/BackendCore.Data/obj
/Backend/BackendCore.Data/bin
/Backend/BackendCore.Entities/bin
/Backend/BackendCore.Entities/obj
/Backend/BackendCore.Service/obj
/Backend/BackendCore.Service/bin
